.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #333;
  color: #ccc;

  .label {
    font-size: 16px;
    text-align: center;
  }
}

.lab-wrapper {
  border-radius: 40px;
  width: 543px;
  height: 361px;
  overflow: hidden;
  z-index: 1;
  padding: 0px;

  iframe {
    margin: 0;
    padding: 0;
    position: relative;
    top: -7px;
    left: -7px;
  }
}
