.app {
  height: 100%;
  background: #333;
  color: #ccc;
  touch-action: none;

  .app-container {
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .label {
    font-size: 16px;
    text-align: center;
  }

  &.authoring {
    background: white;
  }

  h1{
    padding:10px;
  }
  .demo-links {
    height:100%;
    display: flex;
    align-items: left;
    li{
      padding:20px;
      color:#aaa;

    }
  }
}

.lab-wrapper {
  border-radius: 40px;
  width: 543px;
  height: 361px;
  overflow: hidden;
  z-index: 1;
  padding: 0px;

  iframe {
    margin: 0;
    padding: 0;
    position: relative;
    top: -7px;
    left: -7px;
    touch-action:none;
  }
}
