@bg-color: #333;

.lab-container {
  position: fixed;
  transform: scale(.7);
  top: 162px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 64%, #333 65%);
  }
}

.a .lab-container {
  left: 125px;
}
.b .lab-container {
  left: 499px;
}