.meter-thermoscope {
  background: #333;
  color: #ccc;
  height:100%;

  .app-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .label {
    font-size: 16px;
    text-align: center;
  }

  .meter {
    height:150px;
    width:400px;
    text-align:center;
    margin:-30px auto 30px;
    display:block;
  }
}
