.authoring-form {
  position: absolute;
  left: ~"calc(50% + 300px)";
  top: 0px;
  color: #444;
  width:450px;
  max-height: 650px;
  border: 2px solid silver;
  border-radius: 8px;
  overflow-y: scroll;
  padding:10px;
  touch-action: none;

  h3 {
    padding: 4px 0 4px 0;
    margin: 10px 0 5px 0;
    width: 100%;
    background-color:#f8f8f8;
    input{
      height: 15px;
      width: 15px;
    }
    span{
      padding-left: 5px;
    }
  }
}

.app{
  &.authoring {
    background: #fff;
    overflow:hidden;
    font: 12px verdana, helvetica, sans-serif;
    .lab-wrapper{
      background: #fff;
      border: 6px solid #eee;
    }
    .app-container{
      position: absolute;
      display: block;
      top: 50px;
      left: 20px;
      max-height: 650px;
    }
    .value-block{
      margin-left:15px;
    }
    .authoring-header{
      position: fixed;
      width: 100px;
      text-align: center;
      border-radius: 20px;
      top: -5px;
      color: #444;
      border: 2px solid silver;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: white;
    }
    .logo-menu{
      z-index: 4;
      .menu{
        right:115px;
        width:105px;
        background: white;
      }
    }
    .material-icons{
      color:#333 !important;
    }
  }
  .material-icons{
    color: #ddd !important;
  }
  .model-link-button{
    a{
      color: teal;
    }
  }
  button {
    position: absolute;
    padding: 8px;
    border-radius: 24px;
    outline:none;

    &:hover{
      background-color:#eee;
    }
    i{
      font-size:30px;
    }
  }

 .progress{
      position: absolute !important;
      width: 40px;
      height: 40px;
      margin: 4px -44px;
    }
}

.lab-ui {
  position: relative;
  width: 100%;

  .new-atom-bin {
    position: absolute;
    top: -320px;
    left: 18px;
    border: 1px solid #555;
    color: #777;
    padding: 10px;
    pointer-events: none;
    z-index: 2;

    p {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }

    .new-atom {
      display: block;
      border: 1px solid #555;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background: rgba(255,255,255,0.7);
      transition: background 1.5s;

      div {
        display: block;
        background: black;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        margin: 3px;
        background: radial-gradient(circle at 8px 8px, #FFF7CF 0%, #FFD7A8 16%, #B4906C 60%, #FFD7A8 85%);
        opacity: 1;
        transition: opacity 1.5s;
      }

      &.new-atom-0 {
        div {
          background: radial-gradient(circle at 8px 8px, #F9F9F9 0%, #F3F3F3 16%, #B4B4B4 60%, #F3F3F3 85%);
        }
      }

      &.new-atom-1 {
        div {
          background: radial-gradient(circle at 8px 8px, #9AE04F 0%, #82BD43 16%, #52782A 60%, #82BD43 85%);
        }
      }
    }

    .hiding {
      display: block;
      border: 1px solid #555;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background: rgba(255,255,255,1);
      transition: background 0s;

      div {
        opacity: 0;
        transition: opacity 0s;
      }
    }
  }

  h4 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .authoring-slider {
    display: flex;
    flex-direction: column;

    &.mini {
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      margin-bottom: -8px;
    }
  }

  .delete-icon {
    position: absolute;
    top: -73px;
    left: 489px;
    pointer-events: none;
  }
}

tbody tr:nth-child(odd) {
  background-color: #cccccc;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

table {
  background-color: white;
  border: 1px solid #777;
}

td {
  text-align: center;
}
.beaker{
  height: 24px;
  width: 24px;
  background: url("beaker_icon.svg");
  background-repeat: no-repeat;
  &.closed{
    background: url("beaker_icon_closed.svg");
  }
}
.beakerlight{
  height: 38px;
  width: 38px;
  margin-top: -20px;
  background: url("beaker_icon_light.svg");
  background-repeat: no-repeat;
  &.closed{
    background: url("beaker_icon_closed_light.svg");
  }
}
.heat-button{
  &.hot{
    background-color: orange !important;
  }
  &.cold{
    background-color: lightsteelblue !important;
  }
}
.heatbath{
  width: 220px;
  margin-top: -42px;
  height: 18px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &.hot{
    background-color: orange;
  }
  &.cold{
    background-color: lightsteelblue;
  }
}

@button-size: 50px;

.app{
  &.authoring {
    .sim-controls{
      position: fixed;
      left: 0px;
      top: 500px;
      width: 500px;

      .button-layout-container{
        text-align: center;
        width: 500px;
        margin: 0 auto;

        .button-layout{
          display: inline-block;
          width: @button-size;
          height:  @button-size;
          margin: 0 20px;
          background-color:#ddd;
          border-radius: @button-size / 2;
          color:black;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);

          .button {
            position: relative;
            width: 85%;
            height: 85%;
            margin-top: 4px;
            margin-left: 4px;
            border-radius: @button-size / 2;
            background-color:#aaaaaa;
            color:white;
            fill:white;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35) inset;

            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            &.run{
              background-color: #7BCE52;
              background-size: 50%;
              background-image: url("redesign/run-icon.svg");
            }
            &.pause{
              background-color: #7BCE52;
              background-size: 40%;
              background-image: url("redesign/pause-icon.svg");
            }
            &.cool-button{
              background-color: #27ADB8;
              background-image: url("redesign/cool-icon.svg");
            }
            &.heat-button{
              background-color: #F0822B;
              background-image: url("redesign/heat-icon.svg");
            }
            &.beaker{
              background-color: #6D7BD6;
              background-image: url("redesign/lid-off-icon.svg");
              &.closed{
                background-image: url("redesign/lid-on-icon.svg");
              }
            }
            &.restart{
              background-color: #F7AA00;
              background-image: url("redesign/restart-icon.svg");
            }

            .progress-new{
              position: absolute;
              width: 45px;
              height: 45px;
              bottom:0px;
              left:0px;
              .CircularProgressbar-trail      { stroke: gray; }
              &.heat{

                .CircularProgressbar-path       { stroke: #F0822B; }
              }
              &.cool{
                .CircularProgressbar-path       { stroke: #27ADB8; }
              }
            }
          }

          .nameplate {
            position: relative;
            width: 130%;
            height: 110%;
            margin-top: 18px;
            margin-left: -4px;

            font-size: 16px;
            color: #333;
            text-rendering: optimizeLegibility;
            font-kerning: normal;
            line-height: normal (120px);
            text-align: center;

            background-image: url("redesign/label-plate.svg") !important;

          }
        }
      }
    }
  }

}