.sensorConnect{
  position: absolute;
  top: 10px;
  left: 10px;
  color:#ccc;
  margin-right:4px;
  button{
    color:#ccc;
  }
  i {
    cursor: pointer;
    font-size:32px;
  }
  div{
    white-space: pre-line;
  }
}