.thermoscope-container{
  width:400px;
}
.thermoscope {
  position: relative;
  .slider {
    width: 270px;
    height: 28px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .controls-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .material-select {
    margin-top: -15px;
    margin-left: 60px;
  }
  button{
    color:#ccc;
  }
}