language: node_js
node_js: node
install:
- travis_retry gem install s3_website -v 3.4.0
- travis_retry npm install
before_script: WEBPACK_OPTIMIZE=true webpack
script: deploy/s3_deploy.sh
cache:
  bundler: true
  directories:
    - node_modules
sudo: false
dist: trusty