<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "1"
    version     = "0.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Particle Modeler</name>

  <description>
      A particle modeler for the Sensing Science project at the Concord Consortium.
  </description>

  <author href="https://concord.org" email="sfentress@concord.org">
      The Concord Consortium
  </author>

  <platform>
    <platform name="ios" />
    <platform name="android" />
  </platform>

</widget>